.about {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  border: 20px solid #009899;
  background: #ffffff;

  &__content {
    padding-top: 75px;
    padding-bottom: 18px;
    width: 40vw;
    .a {
      font-size: "50px";
    }

    @media (max-width: 600px) {
      width: 80vw;
    }
  }
}
